md-tabs.md-THEME_NAME-theme {
  md-tabs-wrapper {
    background-color: transparent;
    border-color: transparent;
  }
  md-pagination-wrapper{
	border-color: '{{foreground-2}}';
  }
  .md-paginator md-icon {
    color: '{{primary-color}}';
  }

  md-ink-bar {
  }

  .md-tab {
    color: '{{foreground-2}}';
    border-bottom-color: '{{foreground-2}}';  
    border-top-color: '{{primary-50}}';  
    border-left-color: '{{primary-50}}';  
    border-right-color: '{{primary-50}};
    &[disabled] {
      color: '{{primary-50}}';
    }
    &.md-active, &.md-focus {
      color: '{{foreground-2}}';
      border-top-color: '{{primary-500}}';    
      border-left-color: '{{foreground-2}}';    
      border-right-color: '{{foreground-2}}
    }
    &.md-focus {
	  color: '{{foreground-1}}';
    }
    .md-ripple-container {
    }
  }

  &.md-accent {
    md-tabs-wrapper {
      background-color: '{{accent-color}}';
    }

    md-tab:not([disabled]) {
      color: '{{foreground-2}}';
      &.md-active, &.md-focus {
        color: '{{accent-contrast}}';
      }
      &.md-focus {
        background: '{{accent-contrast-0.1}}';
      }
    }

    md-ink-bar {
      color: '{{primary-600-1}}';
      background: '{{primary-600-1}}';
    }
  }

  &.md-primary {
    md-tabs-wrapper {
      background-color: '{{primary-color}}';
    }
    md-tab:not([disabled]) {
      color: '{{primary-100}}';
      &.md-active, &.md-focus {
        color: '{{primary-contrast}}';
      }
      &.md-focus {
        background: '{{primary-contrast-0.1}}';
      }
    }
  }

  &.md-warn {
    md-tabs-wrapper {
      background-color: '{{warn-color}}';
    }

    md-tab:not([disabled]) {
      color: '{{warn-100}}';
      &.md-active, &.md-focus {
        color: '{{warn-contrast}}';
      }
      &.md-focus {
        background: '{{warn-contrast-0.1}}';
      }
    }
  }
}
